<h2 class="form-title">Registration</h2>
<div class="app-plate form-container">
  <form
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()"
    class="registration-form"
  >
    <div class="form__control">
      <label for="name">Name</label>
      <!--Use the name `name` for the form control.-->
      <input
        type="text"
        id="name"
        placeholder="Input text"
        class="form-control"
        name="name"
        formControlName="name"
      />
      <span
        id="nameErrorMessage"
        *ngIf="
        registrationForm.controls['name']?.errors?.['minlength'] &&
        registrationForm.controls['name']?.dirty"
        class="text-danger"
        >Minimum name length: 6</span
      >
    </div>
    <div class="form__control">
      <!--Use the name `email` for the form control.-->
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        placeholder="Input text"
        class="form-control"
        name="email"
        formControlName="email"
      />
      <span
        id="emailErrorMessage"
        *ngIf="
      registrationForm.controls['email']?.errors?.['required'] &&
      registrationForm.controls['email']?.dirty"
        class="text-danger"
        >Email is required.</span
      >
      <span
        id="emailErrorMessage"
        *ngIf="
        registrationForm.controls['email']?.errors?.['emailValidator'] &&
        registrationForm.controls['email']?.dirty
      "
        class="text-danger"
        >Email is invalid.</span
      >
    </div>
    <div class="form__control">
      <!--Use the name `password` for the form control.-->
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="Input text"
        class="form-control"
        name="password"
        formControlName="password"
      />
      <span
        id="passwordErrorMessage"
        *ngIf="
        registrationForm.controls['password']?.errors?.['required'] &&
        registrationForm.controls['password']?.dirty"
        class="text-danger"
        >Password is required.</span
      >
    </div>
    <div class="form__action d-flex justify-content-center">
      <app-button
        type="form"
        [disabled]="registrationForm.invalid"
        text="REGISTER"
      ></app-button>
    </div>
    <div class="form__text">
      If you have an account you may <a href="/login"><strong>Login</strong></a>
    </div>
  </form>
</div>
