@import "src/app/shared/styles/variables/colors.scss";

.app-plate {
  width: 100%;
  min-height: 477px;
  background-color: $color-white;
  border: 1px solid $color-gray;
  border-radius: 4px;
  padding: 32px;
  display: flex;
  justify-content: center;
}

.form-title {
  text-align: center;
  margin: 10vh 0px 26px 0px;
}

.form-container {
  display: flex;
  width: 585px;
  margin: auto;
}

.text-align-center {
  text-align: center;
}

.app-error-text {
  color: $color-red;
  position: absolute;
  margin-top: 4px;
}

.form {
  &__control {
    margin-bottom: 24px;
    &__left {
      width: 400px;
    }
  }

  &__action {
    margin-top: 20px;
    width: 100%;
  }

  &__text {
    text-align: center;
    margin-top: 38px;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

.separator {
  width: 100%;
  border-bottom: 1px solid $color-gray;
}

.text-danger {
  color: red;
}
