@import "src/app/shared/styles/styles";

.course {
  min-width: 60vw;

  &__flex {
    display: flex;
    align-items: baseline;

    & input {
      flex: 1;
    }

    & app-button {
      margin-left: 16px;
    }

    & .course__duration {
      margin-left: 16px;
    }
  }

  &__authors {
    margin-top: 8px;
    display: flex;
    flex-direction: column;

    &__list {
      font-weight: 400;
      font-size: 16px;
    }

    &__item {
      display: flex;
      width: 200px;
      justify-content: space-between;
    }

    &__buttons {
      display: flex;
      width: 36px;
      justify-content: space-between;
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }

  label {
    font-weight: bold;
    font-size: 14px;
  }

  .left-column {
    width: 65%;
  }
  .right-column {
    width: 35%;
    text-align: center;
  }
}

.ng-invalid.ng-dirty:not(form) {
  border: 2px solid red !important;
}
